.list-con{
    width: 500px;
    height: 300px;
    margin-top: 150px;
    margin-left: 278px;
    box-sizing: border-box;
    border-style: dashed;
    padding-left: 60px;
    padding-top: 20px;
}
.read-con{
    margin-bottom: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
}
[type="checkbox"]{
    appearance: none;
    position: relative;
    border: max(2px,0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
}
[type="checkbox"]::before{
    content:"";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}
[type="checkbox"]:checked::before{
    background-color: wheat;
    left: 1em;
}
[type="checkbox"]:checked{
    background-color: tomato;
    border-color: tomato;
}
.update{
    float: left;
    font-size: 21px;
    background-color: transparent;
    margin-top: 60px;
    margin-right: 10px;
}
.delete{
    float: left;
    font-size: 21px;
    background-color: transparent;
    margin-top: 60px;
}